In [1]:
# Only uncomment if you are running notebook using Docker image
import os; os.environ['PROJ_LIB'] = '/opt/conda/share/proj'

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

In [3]:
# Load dataset
df = pd.read_csv("mass.csv")
df_mock = pd.read_csv('mock_particle_trajectory.csv')

In [15]:
datetime.strptime(df_mock.iloc[0].datetime, '%m/%d/%Y %H:%M')

datetime.datetime(2022, 4, 13, 21, 0)

In [6]:
datetime.strptime(df.iloc[0].time, '%Y-%m-%d %H:%M:%S')

datetime.datetime(2020, 1, 25, 0, 30)

In [25]:
df.time.iloc[0]

'2020-01-25 00:30:00'

In [20]:
df_mock.datetime.iloc[0]

'4/13/2022 21:00'

In [15]:
df

,Unnamed: 0,trajectory_id,time,lat,lon,temperature,fishery_id,tdiff,tdiff_min
0,0,0,2020-01-25 00:30:00,37.874336,-63.178898,22.388254,2,0 days 00:00:00,0
1,1,0,2020-01-25 01:30:00,37.887850,-63.181230,22.388254,2,0 days 01:00:00,60
2,2,0,2020-01-25 02:30:00,37.902023,-63.183067,22.388254,2,0 days 02:00:00,120
3,3,0,2020-01-25 03:30:00,37.916830,-63.184418,22.388254,2,0 days 03:00:00,180
4,4,0,2020-01-25 04:30:00,37.932198,-63.185200,22.388254,2,0 days 04:00:00,240
...,...,...,...,...,...,...,...,...,...
288495,288495,499,2020-02-17 20:30:00,38.492447,-73.935140,13.419521,2,23 days 20:00:00,1200
288496,288496,499,2020-02-17 21:30:00,38.492447,-73.935140,13.419521,2,23 days 21:00:00,1260
288497,288497,499,2020-02-17 22:30:00,38.492447,-73.935140,13.419521,2,23 days 22:00:00,1320
288498,288498,499,2020-02-17 23:30:00,38.492447,-73.935140,13.419521,2,23 days 23:00:00,1380
288499,288499,499,2020-02-18 00:30:00,38.492447,-73.935140,13.419521,2,24 days 00:00:00,0

In [19]:
def mask_rows(df, time_interval, mask_val, mask_lst):
    #df['timestamp_minute'] = df['datetime'].map(lambda x: datetime_to_timestamp(x))
    time_format = '%Y-%m-%d %H:%M:%S'
    t = datetime.strptime(df.iloc[0].time, time_format)
    df['tdiff'] = df.time.map(lambda x: datetime.strptime(x, time_format)) - t
    df['tdiff_min'] = df.tdiff.map(lambda x: int(x.seconds/60))
    for i in range(len(df.tdiff_min)):
        if(df.tdiff_min[i] % time_interval != 0):
            for col in mask_lst:
                df[col][i] = mask_val
    df_new = df[['trajectory_id', 'time', 'lat','lon', 'temperature']]
    return df_new

In [25]:
mask_rows(df.head(500), 22, -999, ['lat','lon', 'temperature'])

/var/folders/7j/9bzhlncj1cz1thykbfjsvh3h0000gn/T/ipykernel_13140/2671268819.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tdiff'] = df.time.map(lambda x: datetime.strptime(x, time_format)) - t
/var/folders/7j/9bzhlncj1cz1thykbfjsvh3h0000gn/T/ipykernel_13140/2671268819.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tdiff_min'] = df.tdiff.map(lambda x: int(x.seconds/60))
/var/folders/7j/9bzhlncj1cz1thykbfjsvh3h0000gn/T/ipykernel_13140/2671268819.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = mask_val

     trajectory_id                 time         lat         lon  temperature
0                0  2020-01-25 00:30:00   37.874336  -63.178898    22.388254
1                0  2020-01-25 01:30:00 -999.000000 -999.000000  -999.000000
2                0  2020-01-25 02:30:00 -999.000000 -999.000000  -999.000000
3                0  2020-01-25 03:30:00 -999.000000 -999.000000  -999.000000
4                0  2020-01-25 04:30:00 -999.000000 -999.000000  -999.000000
..             ...                  ...         ...         ...          ...
495              0  2020-02-14 15:30:00 -999.000000 -999.000000  -999.000000
496              0  2020-02-14 16:30:00 -999.000000 -999.000000  -999.000000
497              0  2020-02-14 17:30:00 -999.000000 -999.000000  -999.000000
498              0  2020-02-14 18:30:00 -999.000000 -999.000000  -999.000000
499              0  2020-02-14 19:30:00 -999.000000 -999.000000  -999.000000

[500 rows x 5 columns]