In [75]:
# Only uncomment if you are running notebook using Docker image
import os; os.environ['PROJ_LIB'] = '/opt/conda/share/proj'

In [83]:

import pandas as pd
import numpy as np

In [84]:
# Load dataset
df = pd.read_csv("mock_particle_trajectory.csv")

In [49]:
df.head()

   trajectory_id         datetime   latitude  longitude  temperature
0              1  4/13/2022 21:00  47.484776 -63.311108            2
1              1  4/13/2022 21:10  47.484440 -63.311733            3
2              1  4/13/2022 21:20  47.484764 -63.311810            0
3              1  4/13/2022 21:30  47.484920 -63.311733           -1
4              1  4/13/2022 21:40  47.485010 -63.311676           -1

In [78]:
def datetime_to_timestamp(dt):
    #dt is a datetime object
    #convert to timestamp integer 
    return datetime.strptime(dt, '%m/%d/%Y %H:%M').minute

In [82]:
def mask_rows(df, timestamp_min, mask_val, mask_lst):
    df['timestamp_minute'] = df['datetime'].map(lambda x: datetime_to_timestamp(x))
    for i in range(len(df.timestamp_minute)):
        if(df['timestamp_minute'][i] != timestamp_min):
            for col in mask_lst:
                df[col][i] = mask_val
                df[col][i] = mask_val
                df[col][i] = mask_val                                                                                                 
    return df

In [85]:
mask_rows(df, 0, -999, ['latitude','longitude', 'temperature'])

/tmp/ipykernel_1064/2662981998.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = mask_val
/tmp/ipykernel_1064/2662981998.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = mask_val
/tmp/ipykernel_1064/2662981998.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][i] = mask_val

,trajectory_id,datetime,latitude,longitude,temperature,timestamp_minute
0,1,4/13/2022 21:00,47.484776,-63.311108,2,0
1,1,4/13/2022 21:10,-999.000000,-999.000000,-999,10
2,1,4/13/2022 21:20,-999.000000,-999.000000,-999,20
3,1,4/13/2022 21:30,-999.000000,-999.000000,-999,30
4,1,4/13/2022 21:40,-999.000000,-999.000000,-999,40
...,...,...,...,...,...,...
514,1,4/17/2022 10:40,-999.000000,-999.000000,-999,40
515,1,4/17/2022 10:50,-999.000000,-999.000000,-999,50
516,1,4/17/2022 11:00,47.901695,-62.330463,12,0
517,1,4/17/2022 11:10,-999.000000,-999.000000,-999,10
518,1,4/17/2022 11:20,-999.000000,-999.000000,-999,20